-- Script para verificar usuário desenvolvedor
SELECT 
    'Verificando usuário desenvolvedor na tabela profiles:' as status;

SELECT 
    id,
    user_id,
    email,
    full_name,
    role,
    created_at
FROM public.profiles 
WHERE role = 'developer' OR email LIKE '%desenvolvedor%' OR email LIKE '%dev%'
ORDER BY created_at DESC;

-- Verificar total de usuários na tabela profiles
SELECT 
    'Total de usuários na tabela profiles:' as info,
    COUNT(*) as total
FROM public.profiles;

-- Verificar se existe algum usuário com role admin
SELECT 
    'Usuários com role admin:' as info,
    COUNT(*) as total
FROM public.profiles 
WHERE role = 'admin';
