-- Corrigir constraints de aceitacao_alimentos, aceitacao_liquidos e habito_intestinal
-- O frontend está enviando valores diferentes dos esperados pelo banco

-- Remover constraint antiga de aceitacao_alimentos
ALTER TABLE prontuario_nutricional DROP CONSTRAINT IF EXISTS prontuario_nutricional_aceitacao_alimentos_check;

-- Adicionar nova constraint de aceitacao_alimentos com valores corretos (com hífens)
ALTER TABLE prontuario_nutricional ADD CONSTRAINT prontuario_nutricional_aceitacao_alimentos_check 
CHECK (aceitacao_alimentos IN ('aceita-tudo', 'aceita-metade', 'poucas-colheradas', 'pede-repeticao'));

-- Remover constraint antiga de aceitacao_liquidos
ALTER TABLE prontuario_nutricional DROP CONSTRAINT IF EXISTS prontuario_nutricional_aceitacao_liquidos_check;

-- Adicionar nova constraint de aceitacao_liquidos com valores corretos (com hífens)
ALTER TABLE prontuario_nutricional ADD CONSTRAINT prontuario_nutricional_aceitacao_liquidos_check 
CHECK (aceitacao_liquidos IN ('solicita-sede', 'aceita-oferecer', 'medicacao', '2-4-copos', 'mais-4-copos'));

-- Remover constraint antiga de habito_intestinal
ALTER TABLE prontuario_nutricional DROP CONSTRAINT IF EXISTS prontuario_nutricional_habito_intestinal_check;

-- Adicionar nova constraint de habito_intestinal com valores corretos
-- Frontend envia 'laxante' mas banco esperava 'usa_laxante'
ALTER TABLE prontuario_nutricional ADD CONSTRAINT prontuario_nutricional_habito_intestinal_check 
CHECK (habito_intestinal IN ('normal', 'constipante', 'diarreico', 'variado', 'laxante'));
